RUST_SERVER_STARTUP_ARGUMENTS="{{ rust_startup_args }}"
RUST_SERVER_IDENTITY={{ rust_identity }}
RUST_SERVER_MAXPLAYERS=500
RUST_SERVER_NAME="{{ rust_server_name }}"
RUST_SERVER_DESCRIPTION="{{ rust_server_description }}"
RUST_SERVER_WORLDSIZE={{ rust_world_size }}
RUST_RCON_PASSWORD={{ rust_rcon_password }}
RUST_UPDATE_CHECKING=1
RUST_SERVER_PORT={{ rust_server_port }}
RUST_SERVER_QUERYPORT={{ rust_server_query_port }}
RUST_SERVER_TAGS="{{ rust_server_tags }}"
RUST_RCON_PORT={{ rust_rcon_port }}
RUST_APP_PORT={{ rust_app_port }}
RUST_OXIDE_ENABLED={{ rust_oxide_enabled }}
RUST_OXIDE_UPDATE_ON_BOOT=1
RUST_HEARTBEAT=1
RUST_SERVER_URL="{{ rust_server_url }}"
RUST_SERVER_BANNER_URL="{{ rust_banner_url }}"
RUST_SERVER_CRON_WIPE_SCHEDULE="{{ rust_cron_wipe_schedule }}"
