[Desktop Entry]
Encoding=UTF-8
Name=Telegram
Exec=/opt/Telegram/Telegram -- %u
Icon=/opt/Telegram/telegram128.png
Type=Application
Categories=Network;
MimeType=x-scheme-handler/tg;
