- name: Install rust weekly server
  tags: always
  ansible.builtin.include_role:
    name: compscidr.rust_gameserver.rust_gameserver
    apply:
      become: true
      tags: rust-weekly
  vars:
    rust_gameserver_identity: "weekly"
    rust_gameserver_name: "California | Weekly | No BP Wipe"
    rust_gameserver_description: "Self hosted in Redwood City CA\\nWipes on Thursdays at 7pm PST\\nWorld Size: {{ rust_gameserver_worldsize }}"
    rust_gameserver_wipe_bp: 0
    rust_gameserver_worldsize: 3000
    rust_gameserver_port: 27015
    rust_gameserver_query_port: 27016
    rust_gameserver_rcon_port: 27017
    rust_gameserver_app_port: 27082
    rust_gameserver_rcon_password: "{{ lookup('community.general.onepassword', 'rust-rcon-password', field='password', vault='Infrastructure', account_id='CZG3A4373RA2FC5W5JKFUMYILI') }}"
    rust_gameserver_wipe: "weekly"
    rust_gameserver_seed: 14419
    rust_gameserver_rcon_web_port: 8000

- name: Copy oxide plugins
  tags: rust-weekly
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '644'
    owner: root
    group: root
  loop:
    - src: files/oxide.config.json
      dest: /etc/rust/server/weekly/oxide/oxide.config.json
    - src: files/RustadminOnline.cs
      dest: /etc/rust/server/weekly/oxide/plugins/RustadminOnline.cs
# only if we want a modded server
#    - src: files/Oxide.Ext.RustIO.dll
#      dest: /etc/rust/server/rust-weekly/RustDedicated_Data/Managed/Oxide.Ext.RustIO.dll

- name: Install rust monthly server
  tags: always
  ansible.builtin.include_role:
    name: compscidr.rust_gameserver.rust_gameserver
    apply:
      become: true
      tags: rust-monthly
  vars:
    rust_gameserver_identity: "monthly"
    rust_gameserver_name: "California | Monthly | No BP Wipe"
    rust_gameserver_description: "Self hosted in Redwood City CA\\nWipes on 1st Wednesday of the Month at 7pm PST\\nWorld Size: {{ rust_gameserver_worldsize }}"
    rust_gameserver_wipe_bp: 0
    rust_gameserver_worldsize: 4500
    rust_gameserver_port: 28015
    rust_gameserver_query_port: 28016
    rust_gameserver_rcon_port: 28017
    rust_gameserver_app_port: 28082
    rust_gameserver_rcon_password: "{{ lookup('community.general.onepassword', 'rust-rcon-password', field='password', vault='Infrastructure', account_id='CZG3A4373RA2FC5W5JKFUMYILI') }}"
    rust_gameserver_wipe: "monthly"
    rust_gameserver_seed: 756632467
    rust_gameserver_rcon_web_port: 8001
    rust_gameserver_wipe_day_of_week: 3

- name: Copy oxide plugins
  tags: rust-monthly
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '644'
    owner: root
    group: root
  loop:
    - src: files/oxide.config.json
      dest: /etc/rust/server/monthly/oxide/oxide.config.json
    - src: files/RustadminOnline.cs
      dest: /etc/rust/server/monthly/oxide/plugins/RustadminOnline.cs
# only if we want a modded server
#    - src: files/Oxide.Ext.RustIO.dll
#      dest: /etc/rust/server/rust-monthly/RustDedicated_Data/Managed/Oxide.Ext.RustIO.dll
