---
# used when we make a change to the user like them
# to a group
- name: Reset ssh connection
  ansible.builtin.meta:
    reset_connection

- name: Restart systemd-networkd
  become: true
  ansible.builtin.systemd:
    name: systemd-networkd
    state: restarted
  failed_when: false

- name: Reload systemd
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
  failed_when: false
