# balena cli
- name: install balena cli
  become: true
  tags: balena
  ansible.builtin.unarchive:
    src: https://github.com/balena-io/balena-cli/releases/download/v12.44.29/balena-cli-v12.44.29-linux-x64-standalone.zip
    dest: /opt
    remote_src: true

# add /opt/balana-cli to path
- name: add balena to to path
  become: true
  tags: balena
  lineinfile:
    dest: /etc/environment
    state: present
    backrefs: true
    regexp: 'PATH=(["]*)((?!.*?/opt/balena-cli).*?)(["]*)$'
    line: 'PATH=\1\2:/opt/balena-cli\3'

- name: add ansible GPG
  tags: ansible
  become: true
  apt_key:
    keyserver: keyserver.ubuntu.com
    id: 6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367

- name: Add ansible PPA
  become: true
  tags: ansible
  ansible.builtin.apt_repository:
    repo: ppa:ansible/ansible

- name: install terraform
  include_role:
    name: diodonfrost.terraform
    apply:
      become: true

- name: Add packer GPG
  tags: packer
  become: true
  apt_key:
    keyserver: https://apt.releases.hashicorp.com/gpg
    id: E8A032E094D8EB4EA189D270DA418C88A3219F7B

- name: Add packer apt repository
  become: true
  tags: packer
  apt_repository:
    repo: "deb [arch=amd64] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    state: present

- name: Install Ansible, Vagrant, Packer and AWS CLI
  tags: packer, vagrant, ansible, aws
  become: true
  apt:
    pkg:
      - packer
      - vagrant
      - ansible
      - awscli

- name: Remove ansible-lint apt package if present
  become: true
  tags: ansible
  apt:
    pkg:
      - ansible-lint
    state: absent

- name: Install Ansible Linters via PiP
  tags: ansible
  ansible.builtin.pip:
    name:
      - ansible-lint==6.0.2
      - yamllint==1.26.3
      - ruamel_yaml==0.17.21

# bashrc updates for DEBEMAIL and DEBFULLNAME (for building deb packages)
- name: Update bashrc debmaintainer
  tags: debmaintainer
  lineinfile:
    dest: /home/jason/.bashrc
    owner: jason
    line: "{{ item }}"
  with_items:
    - 'DEBEMAIL="ernstjason1@gmail.com"'
    - 'DEBFULLNAME="Jason Ernst"'

- name: Create AWS config directory
  tags: aws
  become_user: jason
  file:
    path: ~/.aws
    state: directory
    mode: '0700'
    owner: jason
    group: jason

- name: Copy AWS credentials file
  become_user: jason
  tags: aws
  copy:
    src: files/aws/credentials
    dest: ~/.aws/credentials
    mode: '0600'
    owner: jason
    group: jason

- name: Copy AWS config file
  become_user: jason
  tags: aws
  copy:
    src: files/aws/config
    dest: ~/.aws/config
    mode: '0600'
    owner: jason
    group: jason

- name: Install dotcl (digital ocean ctl)
  become: true
  tags: doctl
  ansible.builtin.unarchive:
    src: https://github.com/digitalocean/doctl/releases/download/v1.66.0/doctl-1.66.0-linux-amd64.tar.gz
    dest: /usr/local/bin
    remote_src: true

- name: Create doctl config directory
  tags: doctl
  become_user: jason
  file:
    path: ~/.config/doctl
    state: directory
    mode: '0700'
    owner: jason
    group: jason

- name: Copy doctl config file
  become_user: jason
  tags: doctl
  copy:
    src: files/doctl/config.yaml
    dest: ~/.config/doctl/config.yaml
    mode: '0600'
    owner: jason
    group: jason

# bashrc updates DIGITALOCEAN_TOKEN
- name: Update bashrc DIGITALOCEAN_TOKEN
  tags: doctl
  lineinfile:
    dest: /home/jason/.bashrc
    owner: jason
    line: "export DIGITALOCEAN_TOKEN={{ do_token }}"
