---
- name: Update Apt Cache
  become: true
  ansible.builtin.apt:
    update_cache: true
    upgrade: true
    cache_valid_time: 3600

- name: install various tools
  tags: common-tools
  become: true
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - curl                    # command line http tool
      - wget                    # command line http tool
      - unzip
      - git
      - apt-show-versions

- name: install network tools
  become: true
  tags: network-tools
  ansible.builtin.apt:
    pkg:
      - arp-scan                # for ip <-> mac map search
      - dnsutils                # dig
      - ethtool                 # gets info like link speed
      - iftop                   # network top
      - iotop                   # disk top
      - net-tools               # ifconfig, netstat, arp
      - nmap                    # determine open ports
      - traceroute              # traceroute
      - nbtscan                 # netbios scanner
      - speedtest-cli           # bandwidth debugging
      - sshuttle                # forward ssh through tunnel
      - whois                   # whois
      - sqlite3                 # good db for integration tests
      - socat                   # sort of like nc but doesn't hang
      - sshfs                   # ssh mounts

- name: ensure python is python3 in ubuntu 20.04
  become: true
  ansible.builtin.apt:
    pkg:
      - python-is-python3
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'focal'

# https://github.com/nickjj/ansible-docker
- name: Ensure docker is installed on the target system
  tags: docker
  ansible.builtin.include_role:
    name: nickjj.docker
    apply:
      become: true

- name: adding jason to group docker
  tags: docker
  become: true
  ansible.builtin.user:
    name: jason
    groups: docker
    append: true

# github cli
- name: add git cli GPG apt key
  tags: git
  become: true
  ansible.builtin.apt_key:
    keyserver: keyserver.ubuntu.com
    id: C99B11DEB97541F0

- name: add github cli repository
  tags: git
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://cli.github.com/packages {{ ansible_distribution_release }} main"
    state: present
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'focal'

- name: update apt and install gh
  tags: git
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: gh
    state: present

# don't lint-fix this or it will break the task
- name: setup default git configuration
  tags: git
  become_user: jason
  community.general.git_config:
    name="{{ item.name }}"
    value="{{ item.value }}"
    scope=global
  with_items:
    - { name: "user.name", value: "Jason Ernst" }  # noqa yaml
    - { name: "user.email", value: "ernstjason1@gmail.com" }  # noqa yaml
    - { name: "user.signingkey", value: "BDD9823CA1EA5636114208E86CD8B581B5FA61E1" }  # noqa yaml
    - { name: "pull.rebase", value: "false" }  # noqa yaml
    - { name: "init.defaultBranch", value: "main" } # noqa yaml

- name: install cheat # https://github.com/cheat/cheat/blob/master/INSTALLING.md
  tags: cheat
  become: true
  uncompress:
    copy: no  # noqa yaml
    src: https://github.com/cheat/cheat/releases/download/4.3.1/cheat-linux-amd64.gz
    dest: /usr/local/bin/cheat
    mode: '755'
