- name: Create prodcuction /opt/goblog directory on host
  tags: website
  become: true
  ansible.builtin.file:
    path: /opt/goblog/prod
    state: directory
    mode: '755'
    owner: root
    group: root

- name: Create staging /opt/goblog directory on host
  tags: website
  become: true
  ansible.builtin.file:
    path: /opt/goblog/staging
    state: directory
    mode: '755'
    owner: root
    group: root

- name: Copy production db / files to staging on host
  tags: website
  become: true
  ansible.builtin.copy:
    src: /opt/goblog/prod/
    dest: /opt/goblog/staging
    remote_src: true
    mode: '644'
    owner: root
    group: root

- name: Copy .env to prod host
  tags: website
  become: true
  ansible.builtin.copy:
    src: prod.env
    dest: /opt/goblog/prod/.env
    mode: '644'
    owner: root
    group: root

- name: Copy .env to staging host
  tags: website
  become: true
  ansible.builtin.copy:
    src: staging.env
    dest: /opt/goblog/staging/.env
    mode: '644'
    owner: root
    group: root

- name: Deploy www.jasonernst.com
  tags: website
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  community.docker.docker_container:
    name: www.jasonernst.com
    image: compscidr/goblog:v0.1.31
    volumes: /opt/goblog/prod/uploads:/go/src/github.com/compscidr/goblog/www/uploads
    mounts:
      - source: /opt/goblog/prod/database.db
        target: /go/src/github.com/compscidr/database.db
        type: bind
      - source: /opt/goblog/prod/.env
        target: /go/src/github.com/compscidr/goblog/.env
        type: bind
    network_mode: bridge
    restart_policy: unless-stopped
    env:
      VIRTUAL_HOST: "www.jasonernst.com,jasonernst.com"
      VIRTUAL_PORT: "7000"
      LETSENCRYPT_HOST: "www.jasonernst.com,jasonernst.com"
      LETSENCRYPT_EMAIL: "ernstjason1@gmail.com"

- name: Deploy staging.jasonernst.com
  tags: website
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  community.docker.docker_container:
    name: staging.jasonernst.com
    image: compscidr/goblog:v0.1.31
    volumes: /opt/goblog/staging/uploads:/go/src/github.com/compscidr/goblog/www/uploads
    mounts:
      - source: /opt/goblog/staging/database.db
        target: /go/src/github.com/compscidr/database.db
        type: bind
      - source: /opt/goblog/staging/.env
        target: /go/src/github.com/compscidr/goblog/.env
        type: bind
    network_mode: bridge
    restart_policy: unless-stopped
    env:
      VIRTUAL_HOST: "staging.jasonernst.com"
      VIRTUAL_PORT: "7000"
      LETSENCRYPT_HOST: "staging.jasonernst.com"
      LETSENCRYPT_EMAIL: "ernstjason1@gmail.com"

- name: Deploy mysql db
  tags: db
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  community.docker.docker_container:
    name: db
    image: mysql
    env_file: /opt/goblog/prod/.env
    network_mode: bridge
    restart_policy: unless-stopped

- name: Adds a crontab entry to to backup website
  ansible.builtin.cron:
    name: "backup www.jasonernst.com"
    minute: "0"
    hour: "3"
    job: "rsync -av --delete /opt/goblog/prod/ ubuntu-server:/storage/backup/www.jasonernst.com/"
