---
- name: Install prereqs (Ubuntu/Debian)
  become: true
  tags: prereqs
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - python3-debian
  when: ansible_os_family == "Debian"

- name: Install 1password
  ansible.builtin.include_role:
    name: compscidr.onepassword.onepassword
    apply:
      tags: 1password
      become: true
  tags: always
#
#- name: Install discord apt repo
#  tags: discord
#  become: true
#  ansible.builtin.deb822_repository:
#    name: discord
#    types: [deb]
#    uris: https://palfrey.github.io/discord-apt/debian
#    signed_by: https://palfrey.github.io/discord-apt/discord-apt.gpg.asc
#    suites: ./
#    state: present
#    enabled: true
#
#- name: Install discord
#  become: true
#  tags: discord
#  ansible.builtin.apt:
#    update_cache: true
#    pkg:
#      - discord

# - name: Install signal apt repo
#   tags: signal
#   become: true
#   ansible.builtin.deb822_repository:
#     name: signal
#     types: [deb]
#     uris: https://updates.signal.org/desktop/apt
#     signed_by: https://updates.signal.org/desktop/apt/keys.asc
#     components: [main]
#     state: present
#     enabled: true

# - name: Install signal
#   become: true
#   tags: signal
#   ansible.builtin.apt:
#     update_cache: true
#     pkg:
#       - signal-desktop

#- name: Ensure template directory exists
#  tags: UI
#  become: true
#  become_user: "{{ username }}"
#  ansible.builtin.file:
#    path: "~/Templates"
#    mode: "0755"
#    state: directory
#
#- name: Create new File context menu
#  tags: UI
#  become: true
#  become_user: "{{ username }}"
#  ansible.builtin.file:
#    path: "~/Templates/Empty Document"
#    state: touch
#    mode: '0600'
#    modification_time: preserve
#    access_time: preserve

# why you might want to swtich up terminal emulators:
# https://www.reddit.com/r/linuxquestions/comments/ri3yjg/comment/hout26s/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
#- name: Install terminal emulators
#  tags: terminal-emulators
#  become: true
#  ansible.builtin.apt:
#    pkg:
#      - kitty # gpu enabled
#      - rxvt-unicode # hate this one
#      - alacritty # opengl enabled, cross platform, no tabs
#      # (note this will change the ctrl-cmd-t to use this one). Change back with: sudo update-alternatives --config x-terminal-emulator
#      - terminator # kind of like a tmux behavior built in
#      - stterm # https://st.suckless.org/
#      - foot # wayland native (should probably only install on ubuntu)
#      - tilda # uses a weird full screen setup.
#      - cool-retro-term
#      - terminology
#      - sakura # simple, multiple tabs

# - name: Install spotify apt repo
#   tags: always
#   ansible.builtin.include_role:
#     name: compscidr.spotify.spotify
#     apply:
#       become: true
#       tags: spotify

# - name: Cleanup spotify duplicate apt
#   become: true
#   tags: spotify
#   ansible.builtin.file:
#     path: /etc/apt/sources.list.d/spotify.list
#     state: absent

#- name: AppImage compatibility
#  become: true
#  tags: AppImage
#  ansible.builtin.apt:
#    update_cache: true
#    pkg:
#      - libfuse2
#
#- name: Install slack
#  tags: slack
#  become: true
#  ansible.builtin.apt:
#    deb: https://downloads.slack-edge.com/desktop-releases/linux/x64/4.43.51/slack-desktop-4.43.51-amd64.deb
#

#- name: Check if keybase is already installed
#  tags: always
#  become: true
#  ansible.builtin.stat:
#    path: /usr/bin/keybase
#  register: keybase_installed

#- name: Install keybase
#  ansible.builtin.include_role:
#    name: compscidr.keybase.keybase
#    apply:
#      tags: keybase
#      become: true
#  when: not keybase_installed.stat.exists
#  tags: always

# - name: Download and install telegram
#   tags: telegram
#   become: true
#   ansible.builtin.unarchive:
#     src: https://updates.tdesktop.com/tlinux/tsetup.6.2.3.tar.xz
#     dest: /opt/
#     remote_src: true

#- name: Install Gimp
#  tags: gimp
#  become: true
#  ansible.builtin.apt:
#    name: gimp
#    state: present

#- name: Install zoom
#  tags: zoom
#  become: true
#  ansible.builtin.apt:
#    deb: https://zoom.us/client/latest/zoom_amd64.deb

#- name: Install variety
#  tags: UI
#  become: true
#  ansible.builtin.apt:
#    pkg:
#      - variety

#- name: Install chrome browser
#  tags: chrome
#  become: true
#  ansible.builtin.apt:
#    deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb

#- name: Set dock icons
#  tags: dock
#  become: true
#  become_user: "{{ username }}" # really important to have the username here, or it will seem like it isn't taking effect
#  community.general.dconf:
#    key: "/org/gnome/shell/favorite-apps"
#    value: "['org.gnome.Terminal.desktop', 'google-chrome.desktop', 'firefox_firefox.desktop',
#      'org.gnome.Nautilus.desktop', 'code.desktop', 'snap-store_snap-store.desktop']"
#    state: present

#- name: Install Gnome Browser Connector for Extensions
#  tags: gui
#  become: true
#  ansible.builtin.apt:
#    pkg:
#      - gnome-browser-connector
#      - gnome-shell-extension-manager

# - name: Install Gnome Extensions
#   tags: gui
#   become: true
#   ansible.builtin.import_role:
#     name: luizgavalda.gnome_extensions
#   vars:
#     gnome-extension_ids:
#       - 6580 # https://extensions.gnome.org/extension/6580/open-bar/
