---
# Disable prerun to prevent automatic installation to ./roles directory
# Dependencies are managed via custom dependency.sh script instead
prerun: false

dependency:
  name: shell
  command: ${MOLECULE_PROJECT_DIRECTORY}/molecule/default/dependency.sh
driver:
  name: docker
platforms:
  - name: ubuntu-24.04
    groups:
      - dev
      - dev_gui
      - gui
      - android_runner
      - nas
      - academic_gui
      - java_runner
      - android_runner
    image: "geerlingguy/docker-ubuntu2404-ansible:latest"
    # dockerfile: Dockerfile
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    env:
      OP_SERVICE_ACCOUNT_TOKEN: "${OP_SERVICE_ACCOUNT_TOKEN}"
provisioner:
  name: ansible
  playbooks:
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}
  env:
    ANSIBLE_ROLES_PATH: ${MOLECULE_PROJECT_DIRECTORY}/roles:${MOLECULE_PROJECT_DIRECTORY}/.molecule-roles
    ANSIBLE_COLLECTIONS_PATH: ${MOLECULE_PROJECT_DIRECTORY}/.molecule-collections
    OP_SERVICE_ACCOUNT_TOKEN: "${OP_SERVICE_ACCOUNT_TOKEN}"
