---
# Clawdbot playbook - AI assistant deployment
# 
# Prerequisites:
#   1. Droplet created via Terraform (with Tailscale via cloud-init)
#   2. Bootstrap run: ansible-playbook bootstrap.yml --limit clawdbot -u root
#   3. 1Password vault "Clawdbot" with service token
#
# Usage:
#   ansible-playbook -i inventory.yml clawdbot.yml

- name: Deploy Clawdbot
  hosts: clawdbot
  vars_files:
    - vars/user.yml
  vars:
    # fnm role vars
    fnm_node_version: "22"
    fnm_set_default: true
    # clawdbot role vars
    clawdbot_workspace_repo: "git@github.com:compscidr/clawd.git"
    clawdbot_tailscale_serve: true
  roles:
    - fnm       # Install Node.js via fnm
    - clawdbot  # Install and configure Clawdbot
