---
- name: Common tasks for all hosts
  hosts: all
  become: true
  vars_files:
    - vars/deb_arch.yml
    - vars/user.yml
  roles:
    - compscidr.gpg
    - common_cli
    - dyndns

- name: Common tasks for gui hosts
  hosts: gui
  vars_files:
    - vars/deb_arch.yml
    - vars/user.yml
  roles:
    - common_gui
