# Hostnames are Tailscale MagicDNS names (work from anywhere on tailnet)
# Use --limit <hostname> to target specific hosts

ungrouped:
  hosts:
    jasonernst.com:
    nas:
    mail.jasonernst.com:
    projects.jasonernst.com:

academic_gui:
  hosts:
    ubuntu-beast:

dev:
  hosts:
    jasons-macbook-air:
    ubuntu-beast:
    ubuntu-silverstone:
    ubuntu-cube:
    ubuntu-work-laptop:
    ubuntu-asus-laptop:
    ubuntu-toshiba-laptop:
    ubuntu-toshiba-mini-laptop:

dev_gui:
  hosts:
    ubuntu-beast:
    ubuntu-work-laptop:
    ubuntu-asus-laptop:

gui:
  hosts:
    jasons-macbook-air:
    ubuntu-beast:
    ubuntu-work-laptop:
    ubuntu-asus-laptop:

android_runner:
  hosts:
    ubuntu-silverstone:
    ubuntu-cube:

java_runner:
  hosts:
    ubuntu-silverstone:
    ubuntu-cube:

