# Local hosts use .local (mDNS) - works on LAN even if Tailscale is down
# Cloud hosts use FQDN
# Use --limit 'ubuntu-beast*' to match by prefix

ungrouped:
  hosts:
    jasonernst.com:
    nas.local:
    mail.jasonernst.com:
    projects.jasonernst.com:

academic_gui:
  hosts:
    ubuntu-beast.local:

dev:
  hosts:
    jasons-macbook-air.local:
    ubuntu-beast.local:
    ubuntu-silverstone.local:
    ubuntu-cube.local:
    ubuntu-work-laptop.local:
    ubuntu-asus-laptop.local:
    ubuntu-toshiba-laptop.local:
    ubuntu-toshiba-mini-laptop.local:

dev_gui:
  hosts:
    ubuntu-beast.local:
    ubuntu-work-laptop.local:
    ubuntu-asus-laptop.local:

gui:
  hosts:
    jasons-macbook-air.local:
    ubuntu-beast.local:
    ubuntu-work-laptop.local:
    ubuntu-asus-laptop.local:

android_runner:
  hosts:
    ubuntu-silverstone.local:
    ubuntu-cube.local:

java_runner:
  hosts:
    ubuntu-silverstone.local:
    ubuntu-cube.local:

