---
- name: Services for www.jasonernst.com
  hosts: www
  vars_files:
    - vars/deb_arch.yml
    - vars/user.yml
  vars:
    # Enable nginx fail2ban jails (logs mounted from Docker)
    fail2ban_nginx_enabled: true
    fail2ban_nginx_botscan_enabled: true
  roles:
    - jasonernst_com  # Deploy nginx first so logs exist
    - fail2ban        # Then fail2ban can monitor logs
    - mailu
