---
# Projects playbook - deploys toy projects to consolidated droplet
# Usage: ansible-playbook -i inventory.yml projects.yml

- name: Deploy projects
  hosts: projects
  vars_files:
    - vars/user.yml
  roles:
    - fail2ban
    - projects
