---
- name: Deploy Android Runners
  hosts: android_runner
  vars:
    github_runner_install_docker: false
    github_runner_java: true
    github_runner_java_mount_usb: true
    github_runner_personal_access_token: "{{ lookup('community.general.onepassword', 'gh-actions-runner-pat', field='credential', vault='Infrastructure', account_id=onepassword_account_id) }}"
  vars_files:
    - vars/deb_arch.yml
    - vars/user.yml
  roles:
    - role: compscidr.github_runner.github_runner
      vars:
        github_runner_name: "hello-java-android"
        github_runner_repo: "compscidr/hello-java-android"
        github_runner_adb_port: "5041"
    - role: compscidr.github_runner.github_runner
      vars:
        github_runner_name: "hello-kotlin-android"
        github_runner_repo: "compscidr/hello-kotlin-android"
        github_runner_adb_port: "5038"
    - role: compscidr.github_runner.github_runner
      vars:
        github_runner_name: "icmp"
        github_runner_repo: "compscidr/icmp"
        github_runner_adb_port: "5039"
    - role: compscidr.github_runner.github_runner
      vars:
        github_runner_name: "grape"
        github_runner_org: true
        github_runner_org_name: "grape-networking"
        github_runner_adb_port: "5040"

# enable this when we require any non-android java runners
# - name: Deploy Java Runners
#   hosts: java_runner
#   vars:
#     github_runner_install_docker: false
#     github_runner_java: true
#     github_runner_java_mount_usb: false
#   vars_files:
#     - vars/deb_arch.yml
#     - vars/user.yml
#   roles:
