---
- name: Reload systemd
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart clawdbot
  become: true
  ansible.builtin.systemd:
    name: clawdbot
    state: restarted
