name: verify
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      
      - name: Install ansible and ansible-lint
        run: pip install ansible ansible-lint
      
      - name: Install Ansible dependencies
        run: |
          cd ansible
          ansible-galaxy install -r requirements.yml
      
      - name: Run ansible-lint
        run: |
          cd ansible
          ansible-lint .

  # https://github.com/geerlingguy/ansible-role-redis/blob/master/.github/workflows/ci.yml
  deploy-test:
    runs-on: ubuntu-24.04
    name: Molecule Test
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
      - name: Install 1Password CLI
        # we need op to be on the "deploying device, ie, the GH runner"
        uses: 1password/install-cli-action@v2
      - name: Install and run molecule
        env: # Or as an environment variable
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          ANSIBLE_CONDITIONALS_ALLOW_BROKEN: "1"
        run: |
          pwd
          ls 
          cd ansible
          python3 -m venv venv 
          . venv/bin/activate
          pip3 install 'ansible-core>=2.15,<2.19' molecule molecule-docker==2.1.0 passlib
          export ANSIBLE_CONDITIONALS_ALLOW_BROKEN=1
          molecule test